src/main/resources/FagsystemPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://fagsystem.gaustatoppen.no/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://fagsystem.gaustatoppen.no/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://fagsystem.gaustatoppen.no/" schemaLocation="FagsystemPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="opprettKunde">
    <part name="parameters" element="tns:opprettKunde"/>
  </message>
  <message name="opprettKundeResponse">
    <part name="parameters" element="tns:opprettKundeResponse"/>
  </message>
  <message name="opprettAvtale">
    <part name="parameters" element="tns:opprettAvtale"/>
  </message>
  <message name="opprettAvtaleResponse">
    <part name="parameters" element="tns:opprettAvtaleResponse"/>
  </message>
  <message name="oppdaterAvtaleStatus">
    <part name="parameters" element="tns:oppdaterAvtaleStatus"/>
  </message>
  <message name="oppdaterAvtaleStatusResponse">
    <part name="parameters" element="tns:oppdaterAvtaleStatusResponse"/>
  </message>
  <portType name="Fagsystem">
    <operation name="opprettKunde">
      <input ns1:Action="http://fagsystem.gaustatoppen.no/Fagsystem/opprettKundeRequest" message="tns:opprettKunde" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://fagsystem.gaustatoppen.no/Fagsystem/opprettKundeResponse" message="tns:opprettKundeResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="opprettAvtale">
      <input ns3:Action="http://fagsystem.gaustatoppen.no/Fagsystem/opprettAvtaleRequest" message="tns:opprettAvtale" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://fagsystem.gaustatoppen.no/Fagsystem/opprettAvtaleResponse" message="tns:opprettAvtaleResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="oppdaterAvtaleStatus">
      <input ns5:Action="http://fagsystem.gaustatoppen.no/Fagsystem/oppdaterAvtaleStatusRequest" message="tns:oppdaterAvtaleStatus" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://fagsystem.gaustatoppen.no/Fagsystem/oppdaterAvtaleStatusResponse" message="tns:oppdaterAvtaleStatusResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

